<div class="container-fluid">
    <h1 class="mt-4">Getting Started</h1>
    <p>Welcome to MultiSync! This guide is designed to show you how to get set up and running with Normcore in your
        Unity project.</p>
    <h1>Setting up MultiSync</h1><hr>
    <P>First off, you’ll need to grab a copy of the latest Normcore plugin.
         You can download it <a href="">here</a> after <a href=""> signing up for a MultiSync account</a><br>
        Once you have the plugin imported and Unity has had a chance to recompile successfully, you should see a Normal
        folder in your project, and Normcore in the Unity Package Manager window:</P>
        <img src="assets\images\multisync.png" alt="Nature" class="responsive">
</div>