<title>MultiSync</title>
<meta name="MultiSync" content="MultiSync is a complete networking solution for Unity">
<meta http-equiv="X-UA-Compatible" content="MultiSync is a complete networking solution for Unity">
<div class="container-fluid">
    <h1 class="mt-4">Documentation</h1>
    <p>MultiSync is a complete networking solution for Unity. It's easy to use and scales to millions of users.</p><br>
    <h2>Setting up MultiSync</h2>
    <hr>
    <P>If you're new to MultiSync, we recommend starting with the <a [routerLink]="'/getting-started'">Getting Started</a> guide. It's a great place to get
        familiar with setting up MultiSync in a fresh project.
    </P> 
    <div class="Container-image-style">
        <img src="assets\images\gettingstarted.png" alt="gettingstarted" class="image-style">
        <img src="assets\images\gettingstarted.png" alt="gettingstarted" class="image-style">
        <img src="assets\images\gettingstarted.png" alt="gettingstarted" class="image-style">
        <img src="assets\images\gettingstarted.png" alt="gettingstarted" class="image-style">
    </div>
</div>