
<div class="container-fluid">
    <h1 class="mt-4">Unity Client</h1>
    <p>This document describes the overall architecture of Normcore and how state is synchronized between players.</p>
    <h2>Plugin architecture</h2>
    <hr>
    <P>First off, you’ll need to grab a copy of the latest Normcore plugin.
        You can download it <a href="">here</a> after <a href=""> signing up for a MultiSync account</a><br>
        Once you have the plugin imported and Unity has had a chance to recompile successfully, you should see a Normal
        folder in your project, and Normcore in the Unity Package Manager window:</P>
    <img src="assets\images\architecture.9f8e1993.png" alt="Nature" class="responsive">
</div>