<div class="container-fluid">
    <h1 class="mt-4">Creating a Player Controller</h1>
    <p>This guide will demonstrate how to create a basic player that you can move using WASD and the mouse. It will
        serve as the foundation for any multiplayer game that lets you play as a third-person player.
        When you're finished, you'll end up with a multiplayer game that looks like this:</p>
    <h2>Setting up MultiSync</h2>
    <hr>
    <P>First off, you’ll need to grab a copy of the latest Normcore plugin.
        You can download it <a href="">here</a> after <a href=""> signing up for a MultiSync account</a><br>
        Once you have the plugin imported and Unity has had a chance to recompile successfully, you should see a Normal
        folder in your project, and Normcore in the Unity Package Manager window:</P>
    <img src="assets\images\multisync.png" alt="Nature" class="responsive">
</div>